.auth-button:hover {
    color: black;
}

.row-wrapper__btn_wrapper {
    margin-top: 50px;
    overflow: hidden;
}

.row-wrapper_auth {
    margin-top: 50px;
}

.row-wrapper__card {
    position: relative;
    margin: .5rem 0 1rem 0;
    background-color: #fff;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    border-radius: 2px;
}

.row-wrapper__card_blue-grey {
    background-color: #607d8b!important;
}

.row-wrapper__btn {
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
}

.row-wrapper__btn_wrapper { 
    transition: 0.5s linear; 
} 

.row-wrapper__btn_wrapper:hover { 
    color: black; 
}

.row-wrapper__btn_grey-lighten-1 {
    background-color: #bdbdbd!important;
}

.row-wrapper__card-action {
    background-color: inherit;
    border-top: 1px solid rgba(160,160,160,0.2);
    position: relative;
    padding: 16px 24px;
}

.row-wrapper__input-field {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}