.auth-button {
    transition: 0.5s linear;
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    border-width: 0px;
    min-width: 80px;
    min-height: 30px;
    margin-left: 200px;
    margin-right: 150px;
}

.auth-button:hover {
    color: black;
}

.auth-wrapper {
    margin-top: 50px;
    overflow: hidden;
}

.auth-wrapper__child {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    min-height: 260px;
    background-color: #546e7a;
    border-radius: 0.4%;
}

.auth-wrapper__head {
    text-align: center;

}

.auth-wrapper__title {
    font-size: 24px;
    font-weight: 100px;
}


.auth-wrapper__input:nth-child(1) {
    margin-top: 30px;
}

.auth-wrapper__input:nth-child(2) {
    margin-top: 30px;
}