.global {

}

.global_user {

}

.global_visitor {
    display: flex;
    flex-direction: column;
    background-color: #263238;
    position: relative;
	min-height: 100vh;
}

.global__body {
    padding-bottom: 0px;
    overflow: hidden;
}

.global__body_first {

}

.global__body_second {

}