a {
    text-decoration: none;
    color: white;
    font-weight: 400;
    transition: 0.5s linear
}

a:hover {
    color: #64ffda;
}

.head__wrapper {
    display: flex;
    height: 72px;
    background-color: black;
    justify-content: space-between;
}

.head__section {
    display: flex;
    align-items: center;
    padding: 30px 50px;
    font-family: "Segoe UI";
}