.link-wrapper_header_user {
    margin-right: 30px;
}

.link-wrapper_header_user:nth-child(7) {
    margin-right: 30px;
    text-align: right;
}

.text-link:hover {
    color: #64ffda;
    transition: 0.5s linear;
}