@import "./HeadButton.scss";

.header_visitor {
    display: flex;
    flex-direction: row;
    height: 72px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    font-family: "Segoe UI";
}

.header-logo {
    padding: 10px 10px 10px 30px;
    margin-top: 9px;
    margin-left: 10px;
    margin-right: 30px;
}

.header__section {
    display: flex;
    flex-direction: row;
    align-items: center;
}
