.simple-card-wrapper {
    background-color: #607d8b;
    width: 281px;
    height: 137px;
    margin: 0px;
    border-radius: 0.5%;
}

.card-wrapper0 {
    background-color: #607d8b;
    height: 130px;
    width: 281px;
    margin: 0px;
    margin-top:5px;
    margin-left: 5px;
    border-radius: 0.5%;
    padding: 15px 10px 25px 25px;
}

.card-wrapper1 {
    margin-bottom:4px;
    margin-left: 5px;
    padding: 15px 10px 25px 25px;
}

.card-wrapper2 {
    margin-bottom:4px;
    margin-left: 5px;
    padding: 15px 10px 25px 25px;
}

.card-wrapper3 {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px 10px 25px 25px;
    position: absolute;
    right:12px;
    bottom: 0px;
}

.card-wrapper4 {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px 10px 25px 25px;
    position: absolute;
    right:333px;
    bottom: 0px;
}

.card-wrapper5 {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px 10px 25px 25px;
    position: absolute;
    right:654px;
    bottom: 0px;
}

.card-wrapper6 {
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 0px;
    padding: 15px 10px 25px 25px;
    position: absolute;
    right:975px;
    bottom: 0px;
}

.card-wrapper10 {
    background-color: #607d8b;
    height: 290px;
    width: 547px;
    margin-left: 5px;
    border-radius: 0.5%;
    padding: 30px 40px 40px 50px;
}

.simple-card-wrapper:hover {
    background-color: #ff6f00;
    transition: 0.2s;
}

.card-wrapper0:hover {
    background-color: #ff6f00;
    transition: 0.2s;
}

.card-wrapper10:hover {
    background-color: #ff6f00;
    transition: 0.2s;
}

.simple-card-wrapper span {
    color: black!important;
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 400;
}

.card-wrapper0 span {
    color: black!important;
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 400;
}

.card-wrapper10 span {
    color: black!important;
    font-family: 'Segoe UI';
    font-size: 17px;
    font-weight: 400;
}