.news-wrapper__section {
    max-width: 1172px;
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    position: relative;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 400%;
}

.news-wrapper {
    padding: 20px;
}

.news-wrapper__one {
    flex-basis: 600px; /* ширина 150 */
    flex-shrink: 0; /* Убираем уменьшение = 150 */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.news-button-wrapper__normal {
    margin-left: 18.5px;
}

.news-button-wrapper__active {
    margin-left: 18.5px;
    color: red !important;
}

.news-button-wrapper {
    text-align: right;
    margin-top: 20px;
    margin-right: 63px;
}
